{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла австрийских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Австрии</h2>
        <p>
            Основное население Австрии — австрийцы, говорящие на немецком языке. Влияние соседних стран заметно в культуре и традициях страны.
        </p>
        <h2>Традиции</h2>
        <p>
            Рождественские ярмарки, такие как в Вене и Зальцбурге, являются важной частью зимнего периода. Здесь продаются ремесленные изделия, сладости и горячие напитки.
        </p>
        <p>
            Ещё одной уникальной традицией является праздник Крампуса, который проводится в декабре. Люди одеваются в костюмы мифических существ, пугая детей, чтобы те вели себя хорошо. Можно сказать, что крампус - полная противоположность санта клаусу.
        </p>
        <p>
            Австрийская кухня известна штруделями, венским шницелем и кофе, которые подаются в уютных кофейнях.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt55.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt56.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt57.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Австрия славится музыкальными традициями: мастера создают струнные инструменты и фортепиано. Народным же инструментом Австрии считается варган.
        </p>
        <p>
            Традиция работы с кристаллами тоже важна: знаменитая компания Swarovski родом из этой страны.
        </p>
        <p>
            Резьба по дереву и изготовление кукол так же являются популярными ремёслами, особенно в сельских районах.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt58.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt59.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt60.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}