{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла китайских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Китая</h2>
        <p>
            Основной этнос Китая — ханцы, однако множество малых народностей, таких как тибетцы и уйгуры, также привносят свои традиции в культуру страны.
        </p>
        <h2>Традиции</h2>
        <p>
            Самым важным праздником является Китайский Новый год (Чуньцзе). Празднование длится 15 дней: семьи украшают дома красными фонарями, готовят традиционные пельмени (цзяоцзы) и дарят детям красные конверты с деньгами (хунбао). Кульминацией праздника становится фейерверк.
        </p>
        <p>
            Чайная церемония — ещё одна ключевая традиция Китая. В отличие от Японии, китайцы делают акцент на раскрытии аромата чая и процессе его заваривания.
        </p>
        <p>
            Национальная одежда — ципао — это элегантный наряд, который часто носится на праздниках и официальных мероприятиях.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt19.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt20.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt21.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Фарфор, особенно из города Цзиндэчжэнь, известен своим изяществом.
        </p>
        <p>
            Искусство вырезания из бумаги используется для создания оконных украшений и символов удачи.
        </p>
        <p>
            Производство шелка — древнейшая традиция, с которой началась Великая шелковая дорога.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt22.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt23.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt24.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}