{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла французских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Франции</h2>
        <p>
            Франция объединяет множество культур: от французов на севере до корсиканцев на юге. Каждый регион привносит в общую культуру свои особенности.
        </p>
        <h2>Традиции</h2>
        <p>
            Франция известна своими гастрономическими традициями. На французском столе всегда найдутся багеты, сыры и вина. Особое внимание уделяется качеству и подаче блюд.
        </p>
        <p>
            Одним из уникальных праздников является Фестиваль света в Лионе. В это время город украшается тысячами огней, а жители выставляют свечи на окна своих домов.
        </p>
        <p>
            Особое место занимает мода. Франция является мировым лидером в этой индустрии, и парижские недели моды стали символом элегантности.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt49.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt50.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt51.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Производство вина и сыров остаётся главной ремесленной отраслью.
        </p>
        <p>
            Кроме того, Франция славится ручным производством кружева, фарфора и гобеленов.
        </p>
        <p>
            Ремесленники также создают парфюмерию: город Грасс считается столицей ароматов.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt52.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt53.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt54.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}