{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла германских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Германии</h2>
        <p>
            Немцы составляют большинство населения страны, однако на её культуру повлияли многочисленные миграции и смешение народов в течение столетий.
        </p>
        <h2>Традиции</h2>
        <p>
            Самый известный праздник Германии — Октоберфест, проходящий в Мюнхене. Этот фестиваль начинается с парадов в традиционных костюмах, таких как ледерах и дирндли. Гости наслаждаются пивом, сосисками и музыкой в больших шатрах.
        </p>
        <p>
            Немцы также соблюдают рождественские традиции. В это время проводятся ярмарки, где можно купить украшения, сувениры и попробовать глинтвейн и рождественские пироги.
        </p>
        <p>
            Национальная кухня Германии включает сосиски, картофельные блюда и пиво, каждое из которых отличается в зависимости от региона.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt43.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt44.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt45.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Германия славится производством музыкальных инструментов, таких как скрипки из региона Миттенвальд и рояли Steinway.
        </p>
        <p>
            Резьба по дереву, особенно в районе Шварцвальд, связана с созданием кукушечных часов.
        </p>
        <p>
            Также страна известна своими традициями пивоварения: мастерство варки пива передаётся из поколения в поколение.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt46.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt47.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt48.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}