{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла Исландских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Исландии</h2>
        <p>
            Основное население страны — потомки древних скандинавов. Живя на изолированном острове, исландцы сохранили свои традиции и язык практически без изменений.
        </p>
        <h2>Традиции</h2>
        <p>
            Исландцы чтят Йоль (рождественский сезон), который сопровождается мифами о йольских котах и 13 йольских братьях, выполняющих роль Санта-Клаусов. Люди украшают дома огнями, готовят традиционные блюда, такие как копчёная баранина (хангикьот) и ферментированная рыба.
        </p>
        <p>
            Национальная кухня отличается простотой, основанной на местных продуктах. Рыба, ягнятина и молочные продукты составляют основу рациона.
        </p>
        <p>
            Традиционные свитера «лопапейса» с характерным узором горловины являются не только одеждой, но и частью культурного наследия страны.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt37.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt38.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt39.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Исландия знаменита вязанием из овечьей шерсти. Теплые свитера, шарфы и шапки пользуются спросом по всему миру.
        </p>
        <p>
            Древняя традиция резьбы по дереву также сохраняется и используется в декоре домов.
        </p>
        <p>
            Из-за уникальной природы острова ремесленники создают украшения из лавы и других природных материалов.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt40.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt41.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt42.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}