{% extends 'main/base.html' %}

{% block content %}
<h2>Главная страница сайта</h2>
<div class="index-container">
    <div class="welcome-section">
        <p>
            Этот сайт посвящен уникальному миру этнографии — науке, которая изучает народы мира, их традиции, обычаи и культуру.
            Мы предлагаем вам отправиться в виртуальное путешествие по странам и континентам, чтобы узнать больше о том, как живут разные народы, какие ремесла и искусства они развивают, какие праздники отмечают, и как бережно хранят свою историю.
        </p>
        <p>
            Главная цель нашего проекта — сделать тему этнографии доступной и увлекательной для каждого.
            Здесь вы найдете статьи, наполненные интересными фактами, красочными иллюстрациями и увлекательными историями о людях, традициях и наследии разных стран.
        </p>
        <p>
            Помимо чтения, мы предлагаем вам проверить свои знания с помощью интерактивного теста, который станет доступен после того, как вы зарегистрируетесь. Тест поможет вам не только закрепить новую информацию, но и лучше понять культурное богатство различных народов.
            Просто нажмите на кнопку в правом верхнем углу и выберите интересующую вас страну в меню - начните изучение!
        </p>
        <p>
            Мы верим, что понимание культуры других народов помогает людям становиться ближе друг к другу. Погружаясь в разнообразие традиций и обычаев, мы учимся уважать, ценить и восхищаться различиями, которые делают наш мир таким ярким и многогранным.
        </p>
        <p>
            Спасибо, что вы с нами. Начните свое исследование прямо сейчас, и пусть это путешествие станет для вас не только познавательным, но и вдохновляющим!
        </p>
    </div>
</div>
{% endblock %}