{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла индийских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Индии</h2>
        <p>
            Индия объединяет более 2 тысяч этнических групп, говорящих на сотнях языков. Основные народы — индоарийцы и дравиды, которые внесли огромный вклад в формирование индийской культуры.
        </p>
        <h2>Традиции</h2>
        <p>
            Самый известный праздник Индии — Холи, фестиваль красок. Во время празднования люди бросают друг в друга разноцветные порошки, танцуют и поют. Это символизирует приход весны, единение и радость.
        </p>
        <p>
            Ещё один важный аспект традиций — свадебные обряды. Свадьбы в Индии отличаются пышностью: невеста украшена золотыми украшениями, нарядом из ярких тканей и традиционным узором мехенди на руках.
        </p>
        <p>
            Индийская кухня — уникальное явление. В каждом регионе свои рецепты. Например, юг славится острыми карри и масала доса, а север — нааном и блюдами тандури.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt13.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt14.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt15.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Индия славится ручным текстилем, таким как шелковые сари с тончайшими узорами и вышивкой.
        </p>
        <p>
           Гончарное дело тоже популярно: глиняные лампы, используемые во время праздника Дивали, делаются вручную в миллионах домов.
        </p>
        <p>
            Деревянная резьба по сандалу — ещё одно мастерство, которым Индия гордится.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt16.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt17.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt18.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}