{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла ирландских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Ирландии</h2>
        <p>
            Большинство населения Ирландии составляют ирландцы, чья культура основана на древней кельтской традиции. Хотя страна небольшая, её культура оказала влияние на весь мир благодаря музыке, танцам и литературе.
        </p>
        <h2>Традиции</h2>
        <p>
            Одной из самых известных традиций Ирландии является праздник Святого Патрика. 17 марта вся страна и множество других государств украшаются зелёным цветом. Люди участвуют в парадах, одеваются в зелёную одежду, а пабы предлагают традиционные блюда, такие как ирландское рагу, и местное пиво.
        </p>
        <p>
            Ирландцы известны своим музыкальным наследием: традиционные мелодии исполняются на арфе, скрипке, свистковой флейте и волынке. Часто такие выступления проходят в уютных пабах.
        </p>
        <p>
            Национальная кухня включает в себя простые, но сытные блюда, такие как картофельные блины (боксти), супы на основе баранины и свежий хлеб соды.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt31.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt32.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt33.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Ирландия славится своими текстильными традициями. Изготовление тканей из овечьей шерсти, таких как знаменитые аранские свитера, сохранилось до сих пор.
        </p>
        <p>
            Керамические изделия и посуда, производимые местными мастерами, украшаются традиционными кельтскими узорами.
        </p>
        <p>
            Также Ирландия знаменита ювелирными изделиями, особенно кольцами Кладдах, символизирующими любовь, верность и дружбу.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt34.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt35.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt36.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}