{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла японских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы Япониии</h2>
        <p>
            Большинство населения составляют этнические японцы, которые на протяжении веков сохранили уникальную культурную идентичность. Небольшие группы айнов и окинавцев живут в северных и южных регионах страны.
        </p>
        <h2>Традиции</h2>
        <p>
            Одной из самых известных традиций Японии является праздник цветения сакуры (Ханами). В это время японцы собираются в парках под цветущими деревьями, устраивают пикники, наслаждаются видами и ведут беседы. Это символизирует мимолетность жизни и красоту момента.
        </p>
        <p>
          Кухня Японии тоже является культурным наследием. Помимо суши и рамена, особую роль играют бенто — красиво оформленные обеды в коробках, которые готовят как для повседневной жизни, так и для особых случаев.
        </p>
        <p>
            Традиционная японская баня — онсэн — важная часть досуга. Купание в горячих источниках не только расслабляет тело, но и очищает разум, что особенно ценится в японской культуре.
        </p>
        <p>
            Особое место в культуре занимает традиционная одежда. Самый известный её элемент — кимоно, которое варьируется по цвету, рисунку и материалу в зависимости от повода и статуса носителя. Кимоно может быть дополнено широким поясом (оби) и украшениями для волос.
Также традиционным костюмом является юката — более лёгкая и повседневная версия кимоно, часто носимая на летних фестивалях. Обувь к традиционному костюму включает дзори и гэта — деревянные сандалии.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt7.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt8.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt9.png' %}" class="image-class">
        </div>
        <h2>Ремёсла</h2>
        <p>
            Япония известна своими тончайшими ремёслами, среди которых изготовление керамики и фарфора, таких как знаменитая посуда Имари или Киото.
Искусство лаковой росписи (макэ-э) и создание традиционных японских кукол (нэнгё) — ещё одни значимые ремёсла.
        </p>
        <p>
            Кроме того, популярны изделия из ткани, например, расписной шёлк, используемый для кимоно, и фуросики — многоразовые платки для упаковки подарков и предметов.
        </p>
        <p>
            Японские мечи, изготовленные мастерами, остаются символом традиционного искусства ковки и являются ценными коллекционными объектами. Нельзя также не упомянуть оригами - японское мастерство складывания бумаги, прославившееся на весь мир.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt10.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt11.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt12.png' %}" class="image-class">
        </div>
    </div>
</div>
{% endblock %}