{% extends 'main/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h2>Вход</h2>

        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label for="{{ form.username.id_for_label }}">Никнейм</label>
        <input type="text" name="username" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default:'' }}">
        {% if form.username.errors %}
            <div class="error-message">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label for="{{ form.password.id_for_label }}">Пароль</label>
        <input type="password" name="password" id="{{ form.password.id_for_label }}">
        {% if form.password.errors %}
            <div class="error-message">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit">Войти</button>
    </form>
{% endblock %}
