{% extends 'main/base.html' %}

{% block content %}
<h2>Традиции и ремёсла российских народов</h2>
<div class="index-container">
    <div class="welcome-section">
        <h2>Народы России</h2>
        <p>Россия — это удивительная страна, где переплетаются культуры более 190 народов. Среди крупнейших этносов можно выделить русских, татар,
            башкир, чувашей, чеченцев, якутов и бурят. Каждая из этих народностей имеет богатую историю, свои обычаи и язык. На протяжении веков их
            сосуществование создавало уникальное культурное разнообразие, которое стало одной из главных черт России.</p>
        <h2>Традиции</h2>
        <p>
            Традиции российских народов поражают своим разнообразием. Они охватывают все аспекты жизни: от праздников и ритуалов до обыденных бытовых
            привычек. На Руси популярными были праздники, связанные с природным циклом. Например, Масленица символизировала прощание с зимой, на ней люди едят блины и сжигают соломенную куклу, а
            Ивана Купала посвящался солнцу, воде и плодородию. Такие праздники сопровождались песнями, хороводами и обрядами, которые живы до сих пор.
        </p>
        {% load static %}
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt1.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt2.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt3.png' %}" class="image-class">
        </div>
        <p>
            Кавказские народы славятся своим гостеприимством. Гость считается посланником Бога, и встречают его с богатым столом, включающим блюда из
            мяса, свежий хлеб и домашние сладости. У северных народов обычаи связаны с природой. Шаманские обряды, рассказы о духах природы и
            сезонные праздники помогают сохранить связь с окружающим миром.
        </p>
        <p>
            Семейные традиции также играют важную роль. У многих народов России большое значение придаётся родовым связям. На свадьбах исполняются
            древние обряды, такие как выкуп невесты, которые до сих пор соблюдаются, например, на Кавказе и в Сибири.
            Помимо этого, традиционные костюмы, музыка и танцы остаются важной частью культурной идентичности российских народов.
        </p>

        <h2>Ремёсла</h2>
        <p>
            Искусство и ремёсла российских народов являются настоящим сокровищем. Каждый регион имеет свои уникальные особенности.
            Например, в центральной части России известны гжельский фарфор, хохломская роспись и палехская лаковая миниатюра. Эти изделия украшают
            дома и музеи по всему миру, отражая красоту и утонченность народного искусства.
        </p>
        <div class="image-row">
            <img src="{% static 'main/images/PNG_po_teme/pt4.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt5.png' %}" class="image-class">
            <img src="{% static 'main/images/PNG_po_teme/pt6.png' %}" class="image-class">
        </div>
        <p>
            В северных регионах популярны изделия из бересты, такие как корзины и украшения. Их изготавливают вручную с использованием старинных
            технологий, передаваемых из поколения в поколение. На юге России традиционно занимались ткачеством, создавая ковры с уникальными узорами
            и вышивкой, которые можно увидеть в домах и культурных центрах.
        </p>
        <p>
            Кавказские народы знамениты ювелирным искусством. Серебряные украшения, кинжалы и другие изделия украшены сложной гравировкой и
            орнаментами. В Поволжье мастера создают великолепные изделия из дерева, украшенные резьбой и росписью. Эти ремёсла не только
            сохраняют культурное наследие, но и вносят вклад в экономику регионов.
        </p>
        <p>
            Сегодня многие традиционные ремёсла возрождаются. Государственные программы и энтузиасты работают над сохранением культурных традиций,
            создавая современные изделия на основе древних технологий. Это помогает не только сохранить историю, но и показать её актуальность в
            современном мире.
        </p>
    </div>
</div>
{% endblock %}